.card-black {
  background: black;
}

.card-blue {
  background: blue;
}

.card-brown {
  background: brown;
}

.card-gray {
  background: gray;
}

.card-green {
  background: green;
}

.card-pink {
  background: pink;
}

.card-purple {
  background: purple;
}

.card-red {
  background: red;
}

.card-white {
  background: white;
}

.card-yellow {
  background: yellow;
}
