.card-black {
  background: #3c4048;
}

.card-blue {
  background: #86a7fc;
}

.card-brown {
  background: #b67352;
}

.card-gray {
  background: #b4b4b8;
}

.card-green {
  background: #a7d397;
}

.card-pink {
  background: #ff90bc;
}

.card-purple {
  background: #d0a2f7;
}

.card-red {
  background: #ff8080;
}

.card-white {
  background: #fbf9f1;
}

.card-yellow {
  background: #ffdd95;
}
